{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block main %}
<h1>{{title}}</h1>

<form id="form">
    <div class="form-group">
    <label for="review">Leave a review</label>
    <textarea class="form-control" id="review" rows="3"></textarea>
    <label for="rating">Please rate from 1-5</label>
    <div class="form-group">
        <input id="rating" type="number">
    </div>
    <div class="btn-group my-4" role="group"></div>
    <button class="btn btn-outline-primary mr-1 my-sm-0" type="submit"> Submit </button>
    </div>
    </div>
</form>

<h2>Reviews for {{title}}</h2>
<ul id="reviews">
{% for row in rows %}

<li>{{row["rev_text"]}} by {{row["username"]}}</li>

{% endfor %}
</ul>





<script>


alert("js working");
    document.querySelector('#form').onsubmit = () => {
        alert("executing form submit");

        //initialize new request
        const request = new XMLHttpRequest();
        const review = document.querySelector('#review').value;
        const rating = document.querySelector('#rating').value;
        
        request.open('POST', '/review');

    
        //callback function for when request completes
        request.onload = () => {

            const data = JSON.parse(request.responseText);
            
            
            if (data.success) {
                const data_rev = data.review;
                const data_usr = data.username;
                const contents = `${data.review} by ${data.username}`;
                const li = document.createElement('li');
                li.innerHTML = contents;

                //add to unordered list
                document.querySelector('#reviews').append(li);

                //clear input field
                document.querySelector("#review").value = '';
            }
            else {
                alert("You have already submitted a review for this book.");
            }

        };

        //add form data to send with request
        const data = new FormData;
        data.append('review', review);
        data.append('rating', rating);

        //send request
        request.send(data);
        return false;

    
    };
        


</script>

{% endblock %}







